@import url('https://fonts.googleapis.com/css?family=Anton|Source+Code+Pro" rel="stylesheet');

body {
    background-color: rgb(18, 45, 75);
    background-image: url(../images/back.jpg);
}

.display-3 {
    font-size: 3.5rem;
    font-weight: 300;
    font-family: 'Anton', sans-serif;
    line-height: 1.2;
    text-align: center;
}

h1 {
    color: white;
}

.hero-top {
    background: url("../images/jumbo.jpg") no-repeat center center;
    background-size: cover;
}

.lead {
    color: white;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}

p, div {
    font-family: 'Source Code Pro', monospace;
}

.content-box {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    background-color: #212223
}

.dark-transparency {
    padding: 100px;
    background-color: rgba(0, 0, 0, .55);
}

.row {
    margin: 20px;
}

.col-md {
    margin-left: 450px;
}

@media (max-width: 575px) {
    .content-box {
        margin-top: 0;
        margin-bottom: 0;
    }
}